# Python shit
__pycache__/
configs/credentials.json

# PyInstaller Shit
build/
dist/

# Site stuff
site/

# Build success tester
bJ78gbdjubearh3.tester.sii

# Databases
# dbs/

# PyCharm/Jetbrains/IntelliJ stuff
.idea/